[Unit]
Description=Labgenius System PCR Controller
After=multi-user.target LabgeniusAPI.service LabgeniusWeb.service

[Service]
Type=idle
WorkingDirectory=/home/labgenius/LabgeniusFly/system
User=labgenius
ExecStart=/usr/bin/python3 -u /home/labgenius/LabgeniusFly/system/PcrHidController.py
StandardOutput=file:/home/labgenius/pcr.log
StandardError=file:/home/labgenius/pcr-error.log

[Install]
WantedBy=multi-user.target